<!DOCTYPE html>
<html>
	<head>
		<title>Authentification</title>
		<link rel="stylesheet" href="/bc/angular/angular-csp.css">
	</head>

	<body ng-app="myApp">
		<div ng-view></div>
		
		<script type="text/ng-template" id="login.html">
<form name="auth" ng-submit="login()">
	<div>
		<h1>Login</h1>
		Username: <input ng-model="user.name"/><br/>
		Password: <input ng-model="user.password"/><br/>
		<input type="submit" value="submit" /><br/>
		<span style="color:red">{{errorMessage}}</span>
	</div>
</form>
		</script>
		<script type="text/ng-template" id="welcome.html">
<h1>Welcome {{user}}</h1>
<button ng-click="logout()">logout</button>
		</script>
		<script src="/bc/angular/angular.min.js"></script>
		<script src="/bc/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>
