<div>
	Welcome xx<br/>{{isLogged}}
	<div ng-controller="GroupCtrl" ng-if="isLogged">
		<button ui-sref="createGroup.form">Create a group</button><br/><br/>
		<!-- My group -->
		<h2>My groups:</h2>
		<table>
			<tr>
				<th>name</th>
			</tr>
			<tr ng-repeat="group in myGroups track by $index">
				<td><button ng-click="open(group)">open</button></td>
				<td>{{group}}</td>
			</tr>
		</table>
		<h2>All groups:</h2>
		<table>
			<tr>
				<th>name</th>
			</tr>
			<tr ng-repeat="group in allGroups track by $index">
				<td><button ng-click="open(group)">open</button></td>
				<td>{{group}}</td>
			</tr>
		</table>
	</div>	
</div>
