<!DOCTYPE html>
<html>
	<head>
		<title>Update Config</title>
		<link rel="stylesheet" href="/bc/angular/angular-csp.css">
		<style>
.button {
	margin: 20px;
}

.pair {
	margin: 20px;
}
		</style>
	</head>

	<body ng-app="myApp">
		<form name="auth" ng-submit="updateConfig()">
			<button class="button" ng-click="addPair()">Add</button>
			<input class="button" type="submit" value="submit" /><br/>
			<div class="pair" ng-repeat="pair in list track by $index">
			Key: <input ng-model="pair.key"/>
			Value: <input ng-model="pair.value"/><button ng-click="removePair($index)">Remove</button><br/>
			</div>
		</form>
		
		<script src="/bc/angular/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>
