<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<base href="/sandbox/group/" />
		<title>My First Angular directive</title>
		<link rel="stylesheet" href="/bc/angular/angular-csp.css">
		<style>
.error {
	color: red;
}

.utilities {
	float: right;
}

.page {
	width: 800px;
	margin: auto;
}

.connect {
	margin: 20px;
}
		</style>
	</head>
	<body ng-cloak>
		<div class="page">
			<div sb-header></div>
			<div ui-view></div>
			<div sb-footer></div>
		</div>
		<script type="text/ng-template" id="header.html">
<div>
	Header
	<a ui-sref="home">Home</a>
	<div class="utilities" ng-if="isLogged">
		Bienvenue {{user.firstname}} {{user.lastname | uppercase}} | <a href="" ng-click="logout()">Log out</a>
	</div>
	<div class="utilities" ng-if="!isLogged">
		<a ui-sref="signin">Sign in</a>
		<a ui-sref="signup.form">Sign up</a>
	</div>
	
</div>
<hr/>		
		</script>
		<script type="text/ng-template" id="footer.html">
<hr/>
<div>
	Footer<br/>
	<a href="" ng-click="resetDB()">Reset database</a>{{error.resetDB}}<br/>
	$state: {{$state}}<br/>
	$stateParams: {{$stateParams}}<br/>
	response: {{response}}<br/>
	user: {{user}}
</div>		
		</script>
		<script type="text/ng-template" id="home.html">
<div>
	Welcome<br/>
	<!-- createGroup button -->
	<div ng-if="isLogged">
		<button ui-sref="createGroup.form">Create a group</button><br/><br/>
		<!-- My group -->
		My groups:<br/>
		<table>
			<tr>
				<th>name</th>
			</tr>
			<tr ng-repeat="group in user.groups track by $index">
				<td><button ng-click="open(group)">open</button></td>
				<td>{{group}}</td>
			</tr>
		</table>
	</div>	
</div>		
		</script>
		<!-- popup update group -->
		<script type="text/ng-template" id="popup.html">
<div>
	<h1>Update</h1>
	name: <input ng-model="obj.name"/><br/>
	<button ng-click="updateGroup()">update</button>
	{{updateMessage}}
</div>		
		</script>
		<script type="text/ng-template" id="signup.html">
<div ui-view></div>		
		</script>
		<script type="text/ng-template" id="signup.form.html">
<div>
	<h1>Sign up</h1>
	<hr/>
	<div>
		<button class="connect" ng-click="signin.googleApi()">Sign up with Google</button>
		<button class="connect" ng-click="signin.google()">Sign up with Google (Passport)</button>
		<button class="connect" ng-click="signin.linkedin()">Sign up with Linkedin</button>
		<button class="connect" ng-click="signin.facebook()">Sign up with Facebook</button>
	</div>
	<hr/>
	<form name="form" ng-submit="signup()" novalidate>
		email: <input type="email" ng-model="user.email" required/><br/>
		choose password: <input type="password" ng-model="user.password" required/><br/>
		Firstname: <input type="text" ng-model="user.firstname" required/><br/>
		Lastname: <input type="text" ng-model="user.lastname" required/><br/>
		<input type="submit" value="Sign up" ng-disabled="form.$invalid"/><br/>
		<span class="error">{{error.signup}}</span>
	</form>
</div>		
		</script>
		<script type="text/ng-template" id="signup.success.html">
<div>
	Sign up success.<br/>
	<a ui-sref="home">Home</a>
</div>		
		</script>
		<script type="text/ng-template" id="signin.html">
<div>
	<h1>Sign in</h1>
	<hr/>
	<div>
		<button class="connect" ng-click="signin.googleApi()">Sign up with Google</button>
		<button class="connect" ng-click="signin.google()">Sign up with Google (Passport)</button>
		<button class="connect" ng-click="signin.linkedin()">Sign up with Linkedin</button>
		<button class="connect" ng-click="signin.facebook()">Sign up with Facebook</button>
	</div>
	<hr/>
	<form name="form" ng-submit="signin.local()" novalidate>
		email: <input type="email" ng-model="user.email" required/><br/>
		password: <input type="password" ng-model="user.password" required/><br/>
		<input type="checkbox" ng-model="user.keepLogged"/>Keep me logged in<br/>
		<input type="submit" value="Sign in" ng-disabled="form.$invalid"/><br/>
		<span class="error">{{error.signin}}</span>
	</form>
</div>		
		</script>
		<!-- template createGroup -->
		<script type="text/ng-template" id="createGroup.html">
<div ui-view></div>		
		</script>
		<script type="text/ng-template" id="createGroup.form.html">
<div>
	<h1>Create a group:</h1>
	<hr/>
	<form name="form" ng-submit="userGroup.create()" novalidate>
		Group name: <input type="text" ng-model="userGroup.name" required/><br/>
		<input type="submit" value="Create" ng-disabled="form.$invalid"/><br/>
		<span class="error">{{error.userGroup}}</span>
	</form>
</div>		
		</script>
		<script type="text/ng-template" id="createGroup.success.html">
<div>
	Your group <b>{{userGroup.name}}</b> is created.<br/>
	<a ui-sref="home">Home</a>
</div>		
		</script>
		<!-- end template -->
		<script src="/bc/jshashes/hashes.min.js"></script>
		<script src="/bc/angular/angular.min.js"></script>
		<script src="/bc/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/bc/ng-dialog/js/ngDialog.min.js"></script>
		<script src="app.js"></script>
		<script src="user.js"></script>
	</body>
</html>
