<div>
	<h1>Sign up</h1>
	<hr/>
	<div>
		<button class="connect" ng-click="signin.googleApi()">Sign up with Google</button>
		<button class="connect" ng-click="signin.google()">Sign up with Google (Passport)</button>
		<button class="connect" ng-click="signin.linkedin()">Sign up with Linkedin</button>
		<button class="connect" ng-click="signin.facebook()">Sign up with Facebook</button>
	</div>
	<hr/>
	<form name="form" ng-submit="signup()" novalidate>
		email: <input type="email" ng-model="user.email" required/><br/>
		choose password: <input type="password" ng-model="user.password" required/><br/>
		Firstname: <input type="text" ng-model="user.firstname" required/><br/>
		Lastname: <input type="text" ng-model="user.lastname" required/><br/>
		<input type="submit" value="Sign up" ng-disabled="form.$invalid"/><br/>
		<span class="error">{{error.signup}}</span>
	</form>
</div>		